<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>My App</title>
<!-- Metro 4 -->
<link rel="stylesheet"
	href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
<title>Stock Tales</title>
</head>
<body>

	<div style="margin-top: 80px">

		<div class="card" style="width: 800px;">
			<div class="card-header">

				<div class="row">

					<div class="cell-11">

						<div class="remark alert " style="padding-top: 10px; margin: 2px">
							<h2>Unable to Create Portfolio!</h2>
							<h3 style="color: #8000fc">Unable to Find sufficient Scrips
								to create the Portfolio.</h3>
						</div>
					</div>

					<div class="cell-1">
						<a href="#" class="button steel rounded outline"
							style="border: none;" th:href="@{/}" role="button"> <span
							class="mif-home  mif-3x"></span>
						</a>
					</div>

					<div class="row"></div>
				</div>




			</div>
		</div>
	</div>

	<!-- Metro 4 -->
	<script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>